<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if 'ok' in request.GET %}
    <p><b>Su prestamo ah sido aceptado, el saldo de su cuenta ya fue actualizado</b></p>
    {% endif %}
    {% if 'notok' in request.GET %}
    <p><b>Alguno de los campos ingresados no es válido</b></p>
    {% endif %}
    {% if 'nomonto' in request.GET %}
    <p><b>El monto solicitado supera el límite establecido para su cuenta.
        Los límites son: 500000 para clientes Black, 300000 para clientes Gold y 10000 para clientes Classic</b></p>
    {% endif %}
    {% if 'nocoincide' in request.GET %}
    <p><b>Los datos ingresados en el formulario no coincide con los asociados al usuario logueado. 
        Recuerde que solo puede solicitar el prestamo desde el usuario asociado a la cuenta en la que desea recibir el dinero</b></p>
    {% endif %}

    
    <form action="" method="post">
        {% csrf_token %}
        <table>
            {{form.as_p}}
        </table>
        <input type="submit" value="Solicitar Prestamo">
    </form>
    {{request.POST}}
    
</body>
</html>