{% extends "webitbank/index.html" %}

{% block title%} Noticias {% endblock %}


{% block content %}
          <div class="container2">
            <div class="row">
                <div class="row noticias">
                    <!--Título-->
                    <h2>Noticias</h2>
                    <hr>
                    <!--Tarjeta-->
                    <article class="col-12 col-md-4">
                      <div class="card">
                        <div class="card-body">
                          <a href="#">
                            <h5 class="card-title">Noticia 2</h5>
                          </a>
                          <div class="row">
                            <div class="col">
                              <p class="card-text">Breve descripción de la noticia.
                                Para leer la noticia completa se debe hacer click
                                sobre el título</p>
                            </div>
                            <div class="col">
                              <img src="../../public/images/imagen.png" class="card-img-top" alt="imagen">
                            </div>
                          </div>
                        </div>
                      </div>
                    </article>
                    <article class="col-12 col-md-4">
                      <!--Tarjeta-->
                      <div class="card">
                        <div class="card-body">
                          <a href="#">
                            <h5 class="card-title">Noticia 1</h5>
                          </a>
                          <div class="row">
                            <div class="col">
                              <p class="card-text">Breve descripción de la noticia.
                                Para leer la noticia completa se debe hacer click
                                sobre el título</p>
                            </div>
                            <div class="col">
                              <img src="../../public/images/imagen.png" class="card-img-top" alt="imagen">
                            </div>
                          </div>
                        </div>
                      </div>
                    </article>
        
                    <article class="col-12 col-md-4">
                      <!--Tarjeta-->
                      <div class="card">
                        <div class="card-body">
        
                          <a href="#">
                            <h5 class="card-title">Noticia 3</h5>
                          </a>
                          <div class="row">
                            <div class="col">
                              <p class="card-text">Breve descripción de la noticia.
                                Para leer la noticia completa se debe hacer click
                                sobre el título</p>
                            </div>
                            <div class="col">
                              <img src="../../public/images/imagen.png" class="card-img-top" alt="imagen">
                            </div>
                          </div>
                        </div>
                      </div>
                    </article>
                  </div>
            </div>
          </div>
      <!-- Finalizan las tabs -->

    </section>
  </main>
  <!--  pie de página principal -->

  {%endblock%}