{% extends "webitbank/base.html" %}

{% block title%} Pago de servicios {% endblock %}


{% block content %}
          

        <div class="conteinerTitulos">
            <h3>Pago de Servicios</h3>
            <button class="btnConsultas btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                Consultas y Operaciones
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><button class="dropdown-item" type="button">Comprobantes</button></li>
                <li><a class="dropdown-item" href="#">Pago de servicios e impuestos</a></li>
                <li><a class="dropdown-item" href="#">Recargar celular</a></li>
                <li><button class="dropdown-item" type="button">Adhesión a débito automático</button></li>
                <li><a class="dropdown-item" href="#">Solicitar baja de cuenta</a></li>
            </ul>
        </div>
        <section class="conteinerDivServicios">
            <div class="conteinerServicios">
                <div class="servicios icon-phone1" ></div>
                    <a href="#">Recargar celular</a>    
            </div>
            <div class="conteinerServicios">
                <div class="servicios icon-directions_subway" ></div>
                    <a href="#">Cargar transporte</a>    
            </div>
            <div class="conteinerServicios">
                <div class="servicios icon-heart" ></div>
                    <a href="#">Donar</a>    
            </div>
            <div class="conteinerServicios">
                <div class="servicios icon-settings_input_antenna" ></div>
                    <a href="#">Recargar DirectTV</a>    
            </div>
            <div class="conteinerServicios">
                <div class="servicios icon-car" ></div>
                    <a href="#">TELEpase</a>    
            </div>
        </section>

    </section>
  </main>

  {%endblock%}