{% extends "webitbank/base.html" %}
{%load static %}
<link rel="stylesheet" href="{% static 'webitbank/imagenes' %}"/>
<link rel="stylesheet" href="{% static 'webitbank/css' %}"/>
{% block title%} Tus productos {% endblock %}


{% block content %}

<div class="tab-content" id="myTabContent">
    <div class="tab-pane active" id="tusProductos" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
      <div class="row">
        <h2 class="producto">TUS PRODUCTOS</h2>
        <lauta>
          <div class="cont">
            <div class="product-card">
              <p class="titulo">Cuenta nºxxxxxxx</p>
              <p>{{user}}</p>
              <p>$0,00</p>
              <p>U$s0,00</p>
            </div>

            <div class="product-card">
              <p class="titulo">Visa Crédito xxxx-1234</p>
              <p>{{user}}</p>
              <p>$0,00</p>
            </div>

            <div class="product-card">
              <p class="titulo">Visa Débito  xxxx-1234</p>
              <p>{{user}}</p>
              <p class="subt">Ver movimientos</p>
            </div>

            <div class="product-card">
              <p class="titulo">Inversiones</p>
              <p class="subt">Tenencia consolidada</p>
            </div>

            <div class="product-card">
              <p class="titulo">Autenticación</p>
              <input type="button" value="Generar Token" class="btn" onclick="Random();" data-bs-toggle="modal" data-bs-target="#exampleModal"/>  
            </div>

          </div>
          <!-- Modal -->
          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Tu token es:</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <input type="text" id="tb" name="tb" />
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn" data-bs-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
        </lauta>
      </div>
  </div>
  <script src="{% static 'webitbank/token.js' %}"></script>
</div>

{% endblock %}