
{% extends "webitbank/base.html" %}

{% block title%} Sucursales {% endblock %}

{% block content %}

    <h1>Sucursales</h1> 
    
{% for sucursal in sucursal_list %}
    <strong>{{ sucursal.branch_name }}</strong>
    <ul>
    <li>ID: {{ sucursal.branch_id }}</li><br/>
    <li>Numero: {{ sucursal.branch_number }}</li><br/>
    <li>Nombre: {{ sucursal.branch_name }}</li><br/>
    <li>Direccion: </li><br/><br/>
   
    <li>Calle: {{ sucursal.branch_address.calle }}</li><br/>
    <li>Numero: {{ sucursal.branch_address.numero }}</li><br/>
    <li>Ciudad: {{ sucursal.branch_address.ciudad }}</li><br/>
    <li>Pais: {{ sucursal.branch_address.pais }}</li><br/>
    <li>Provincia: {{ sucursal.branch_address.provincia }}</li><br/>

    </ul>
  <br/>
{% endfor %}
    

{% endblock %}
