{% extends "webitbank/base.html" %}

{%load static %}
<link rel="stylesheet" href="{% static 'webitbank/css/calendar.css' %}"/>
{% block title%} Turnos {% endblock %}


{% block content %}
<!-- <div class="imgTurno">
    <img src="{% static 'webitbank/imagenes/turnosweb.webp' %}" alt="">
</div> -->
          <div class="container2">
            <div class="row">

            </div>
          </div>
      <!-- Finalizan las tabs -->
    
    </section>
      <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <meta http-equiv="X-UA-Compatible" content="ie=edge">
            <title>Administrador de turnos</title>
            <link rel="stylesheet" href="css/bootstrap.css">
            <link rel="stylesheet" href="{% static 'webitbank/css/calendar.css' %}">
        </head>
        <body>


            <div class="conteinerTitulos">
                <h3>Turnos</h3>
                  <button class="btnConsultas btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                      Consultas y Operaciones
                  </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#exampleModal">Mis turnos</a></li>
                    
                </ul>
              </div>
            <div class="conteinerTurno">
                <div class="row solicita">
                <legend>SOLICITA TU TURNO!</legend>
                <!-- <img src="{% static 'webitbank/imagenes/turnosicono.png' %}" alt="" class="imgTurno"> -->
                </div>
                <div id="contenido">
                    
                    <div class="agregar-cita">
                        <form id="nueva-cita">
                            
                            <div class="datosIngresar">
                                <label class="label">Nombre:</label>
                                <div >
                                    <input type="text" id="nombre" name="nombre" class="form-control" placeholder="Nombre">
                                </div>
                            </div>
                            <div class="datosIngresar">
                                <label class="label">Apellido:</label>
                                <div>
                                    <input type="text" id="apellido" name="apellido" class="form-control"  placeholder="Apellido">
                                </div>
                            </div>
                            <div class="datosIngresar">
                                <label class="label">Teléfono:</label>
                                <div>
                                    <input type="tel" id="telefono" name="telefono" class="form-control"  placeholder="Número de Teléfono">
                                </div>
                            </div>
                            <div class="datosIngresar">
                                <label class="label">Fecha:</label>
                                <div>
                                    <input type="date" id="fecha" name="fecha" class="form-control">
                                </div>
                            </div>
        
                            <div class="datosIngresar">
                                <label class="label">Hora:</label>
                                <div>
                                    <input type="time" id="hora" name="hora" class="form-control">
                                </div>
                            </div>
        
                            <div class="datosIngresar">
                                <label class="label">Razon de turno:</label>
                                <div>
                                    <textarea id="razon" name="razon" class="form-control"></textarea>
                                </div>
                            </div>
                            <div class="datosIngresar">
                                    <button type="submit" class="btnTurno">Agendar turno</button>
                            </div>
                        </form>
                    </div>
                    <!-- <div class="col-md-6 listado">
                        <h2 id="administra" class="mb-4">Administra tus Turnos</h2>
                        <ul id="turnos" class="list-group lista-citas"></ul>
                    </div> -->
                </div> <!--.row-->
            </div><!--.container-->
 
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Tus Turnos</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="listado">
                <ul id="turnos" class="list-group lista-citas"></ul>
            </div> 
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Imprimir comprobante</button>
        </div>
      </div>
    </div>
  </div>




            <script src="{% static 'webitbank/calendar.js' %}"></script>
        
        </body>
        </html>


    
 
 
    </section>
  </main>
  <!--  pie de página principal -->

  {% endblock %}